* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    color: #FFF;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 2rem;
}

.logo img {
    margin-right: 2.37rem;
    width: 35.9375rem;
    height: 12.41081rem;
}

.main {
    margin-top: 2.75rem 2.37rem 0 2.37rem;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.table {
    width: 75.375rem;
    margin: 2.75rem 0;
    border-radius: 1rem;
    background: #FFEDED;
}

.tableHeader,
.tableRow {
    display: grid;
    grid-template-columns: 29.1875rem 36.0625rem 10.125rem;
    grid-template-rows: 3.5rem;
    position: relative;
}

.tableHeader .middlePart,
.tableHeader .leftPart,
.tableHeader .rightPart {
    background-color: black;
    color: white;
}

.tableHeader::after,
.tableRow::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 74rem;
    height: 2px;
    background-color: black;
    justify-self: center;
}

.tableRow:last-child::after {
    display: none;
}

.leftPart,
.middlePart,
.rightPart {
    display: grid;
    justify-items: center;
    align-items: center;

    color: #000;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.leftPart {
    display: grid;
    grid-template-columns: 3.3rem 6rem auto;
    justify-items: start;
    text-transform: none;
    padding-left: 2.6rem;
}

.middlePart {
    grid-template-columns: repeat(7, 1fr);
}

.rightPart {
    text-transform: none;
}



.clubLogo img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1560px) {

    .main {
        display: inline-block;
        justify-content: center;
    }

    .headline {
        font-size: 3.5rem;
    }

    .logo img {
        width: 100%;
        height: auto;
        margin-right: 0;
    }



    .leftPart,
    .middlePart,
    .rightPart {
        font-size: 1rem;
    }





}